@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Fira+Sans:wght@100;200;300;400&family=Lora:wght@400;600&family=Montserrat:wght@300;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@200;400&display=swap');





:root {
  --clr-blue: #1fb6ff;
  --clr-purple: #7e5bef;
  --clr-pink: #ff49db;
  --clr-orange: #ff7849;
  --clr-green: #13ce66;
  --clr-yellow: #ffc82c;
  --clr-gray-dark: #273444;
  --clr-gray: #8492a6;
  --clr-gray-light: #d3dce6;
  --size-xxxs: 3px;
  --size-xxs: 6px;
  --size-xs: 8px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 22px;
  --size-xl: 26px;
  --size-xxl: 32px;
  --font-sans-serif: 'Fira Sans', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --font-serif: 'Lora', serif;
  --font-slab: 'Roboto Slab', serif;
  --font-fancy-sans-serif: 'Montserrat', sans-serif;
  --font-condensed-sans-serif: 'Roboto Condensed', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
fieldset {
  all: unset;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--clr-orange);
  outline-offset: -2px;
}

.hidden {
  display: none !important;
}

body {
  font-family: var(--font-sans-serif);
  font-size: var(--size-s);
  height: 100vh;
  overflow: hidden;
  display: flex;
  color: #222;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

body * {
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.icon {
  pointer-events: none;
  user-select: none;
  max-height: 100%;
  max-width: 100%;
}

/*****************/

/* UI Menu */
#ui_menu {
  background-color: #d3dce6;
  padding: var(--size-xs);
  position: relative;
  z-index: 1;
  width: 64px;
  box-shadow: 2px 2px 6px #0005;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: margin .3s;
  /* margin-left: -60px; */
}

#ui_menu:hover,
#ui_menu:focus-within {
  margin: 0;
}

#ui_menu__list {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.menu__list_app {
  padding: var(--size-xs);
  background-color: rgb(246, 246, 211);
  border-radius: 100%;
  box-shadow: 1px 1px 2px #0005;
  cursor: pointer;
  outline: 1px solid #555;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list_app[data-state="active"] {
  box-shadow: inset 1px 1px 2px #0005;
  background-color: snow;
  outline-color: transparent;
}

#ui_menu__clock {
  font-family: var(--font-mono);
  text-align: center;
  display: flex;
  flex-direction: column;
}

#ui_menu__clock_time {
  font-weight: bold;
}

/* UI Ground */
#ui_ground {
  position: relative;
  flex: 1;
  padding: 16px;
}

.app_window {
  min-width: 600px;
  min-height: 400px;
  outline: 2px solid #555;
  border-radius: 2px;
  box-shadow: 1px 2px 3px hsl(211, 20%, 20%, .5), 1px 3px 8px #0005;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: transform .4s ease, visibility .4s;
}

.app_window[data-state="minimized"] {
  transform: translateX(-100%) scale(0);
  transform-origin: left;
  visibility: hidden;
}

.app_window[data-maximized="true"] {
  inset: 16px !important;
}

.app_window__header {
  border-bottom: 2px solid #0009;
  background-color: hsl(211, 73%, 93%);
  user-select: none;
}

.app_window__header>* {
  display: flex;
  gap: var(--size-xxs);
  align-items: center;
}

.app_window__header_head {
  padding: var(--size-xxs);
}

.app_window__header_head .icon {
  width: var(--size-l);
}

.app_window__header_title {
  font-weight: 500;
  display: flex;
  flex: 1;
}

.app_window__header_title span {
  margin: auto;
  font-weight: 400;
}

.app_window__header_actions {
  display: flex;
  gap: var(--size-xxs);
  margin-left: auto;
}

.app_window__header_actions button {
  height: var(--size-l);
  width: var(--size-l);
  border: 1px solid #888;
  border-radius: 2px;
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px #0005;
}

.app_window__header_actions button:active {
  box-shadow: none;
  transform: translateY(1px);
}

.app_window__header_menu {
  border-top: 1px solid #999;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  position: relative;
}

.app_window__header_menu>* {
  display: flex;
}

.app_window__header_menu button {
  padding: var(--size-xxs);
  border: 1px solid #0002;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  transition: all .1s;
}

.app_window__header_menu button:active {
  background-color: var(--clr-orange)
}

.app_window__header_menu_secondary button {
  padding: 0;
  min-width: 32px;
}

.app_window__header_menu button .icon {
  height: 24px;
}

.app_window__header_menu_primary {
  width: max-content;
  position: relative;
}

.app_window__header_menu_primary .app_window__primary_menu_toggler {
  display: flex;
  gap: 2px;
  padding-left: var(--size-xs);
  background-color: hsl(80, 20%, 95%);
  box-shadow: inset 1px 1px 2px #fff, inset -1px -1px 2px #fff;
  border: 1px solid #0005;
}

.app_window__header_menu_primary:focus-within .app_window__primary_menu_toggler {
  background-color: #fff;
}

.app_window__header_menu_primary_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100%);
  z-index: 10;
  box-shadow: 1px 2px 3px #0005;
}

.app_window__header_menu_primary_list button {
  background-color: hsl(80, 20%, 94%);
  justify-content: flex-start;
  padding-left: var(--size-xs);
}

.app_window__primary_menu_toggler .icon {
  height: var(--size-xl);
  width: var(--size-xl);
  background: url("./assets/icons/app_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.app_window__header_menu_primary_list button:hover,
.app_window__header_menu_primary_list button:focus-visible {
  background-color: #fff;
}

/* App window Footer */
.app_window__footer {
  background-color: hsl(0, 0%, 98%);
  padding: var(--size-xxs);
  border-top: 1px solid;
  box-shadow: inset 0px 1px 3px #0002;
}

/* Modal */
#ui_modal {
  margin: 10vh auto;
  width: clamp(300px, 85vw, 500px);
}

#ui_modal::backdrop {
  background-color: #000;
  opacity: .5;
}

#ui_modal__content {
  border-radius: 2px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: var(--size-s);
  padding: var(--size-s);
}

#ui_modal__content::backdrop {
  background: tomato;
}

#ui_modal__content *:not(input) {
  user-select: none;
}

#ui_modal__content form {
  display: flex;
  flex-direction: column;
  gap: var(--size-s);
}

#ui_modal__content form input[type="text"],
#ui_modal__content form input[type="number"] {
  background-color: #333;
  color: #fff;
  outline: 2px solid #333;
  outline-offset: 2px;
  padding: var(--size-xxs);
}

#ui_modal__content form input::placeholder {
  color: #fffd;
}

#ui_modal__content .modal_form_list {
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: var(--size-xxxs);
  height: 250px;
  overflow-y: auto;
  min-width: max-content;
}

#ui_modal__content .modal_form_list>div {
  position: relative;
}

#ui_modal__content .modal_form_list input {
  position: absolute;
  inset: 0;
  z-index: 1;
}

#ui_modal__content .modal_form_list label {
  padding: var(--size-xxs);
  background-color: white;
  border: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-xxl);
  background-color: #eee;
}

#ui_modal__content .modal_form_list label+label {
  margin-top: 0 !important;
}

#ui_modal__content .modal_form_list input:checked+label {
  background-color: #fff;
}

#ui_modal__content .modal_form_list [data-hook="date"] {
  font-weight: 300;
  font-family: var(--font-mono);
  font-size: .8em;
}

.modal_actions {
  display: flex;
  justify-content: space-between;
}

.modal_actions button {
  color: #000;
  align-self: flex-end;
  border: 2px solid #333;
  cursor: pointer;
  padding: var(--size-xxs) var(--size-s);
  background-color: #f6f6f6;
}

.modal_actions button[type="button"] {
  border-color: #0002;
}

@media (max-width: 640px) {
  body {
    flex-direction: column-reverse;
  }

  .app_window {
    min-width: 75vw;
  }

  #ui_menu {
    flex-direction: row;
    height: 64px;
    width: 100%;
  }

  #ui_menu__list {
    flex-direction: row;
  }

  #ui_menu button {
    max-height: 100%;
    max-width: 100%;
  }

  #ui_menu__clock {
    flex-direction: column;
    justify-content: center;
  }

  .app_window[data-state="minimized"] {
    transform: translateY(100%) scale(0);
    transform-origin: center;
    visibility: hidden;
  }
}