@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&display=swap');


:root {
  --clr-blue: #1fb6ff;
  --clr-purple: #7e5bef;
  --clr-pink: #ff49db;
  --clr-orange: #ff7849;
  --clr-green: #13ce66;
  --clr-yellow: #ffc82c;
  --clr-gray-dark: #273444;
  --clr-gray: #8492a6;
  --clr-gray-light: #d3dce6;
  --size-xxs: 6px;
  --size-xs: 8px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 22px;
  --size-xl: 26px;
  --size-xxl: 32px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
textarea {
  all: unset;
}

.hidden {
  display: none !important;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: var(--size-s);
  height: 100vh;
  overflow: hidden;
  display: flex;
  color: #222;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

body * {
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.icon {
  pointer-events: none;
  user-select: none;
  max-height: 100%;
  max-width: 100%;
}

/*****************/

#ui_menu {
  background-color: #d3dce6;
  padding: var(--size-xs);
  position: relative;
  z-index: 1;
  width: 64px;
  box-shadow: 2px 2px 5px #0004;
}

#ui_menu__list {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.menu__list_app {
  padding: var(--size-xs);
  background-color: rgb(246, 246, 211);
  border-radius: 2px;
  box-shadow: 1px 1px 2px #0005;
  cursor: pointer;
  outline: 1px solid #555;
  transition: all .1s;
}

.menu__list_app[data-state="active"] {
  box-shadow: inset 1px 1px 2px #0005;
  background-color: snow;
  outline-color: transparent;
}

#ui_menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  width: 66px;
}

#ui_ground {
  position: relative;
  flex: 1;
  padding: 16px;
}

.app_window {
  min-width: 800px;
  min-height: 500px;
  outline: 2px solid #555;
  border-radius: 2px;
  box-shadow: 1px 2px 3px hsl(211, 20%, 20%, .5);
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.app_window>*>* {
  padding: var(--size-xs);
}

.app_window__header {
  border-bottom: 1px solid #333;
  background-color: hsl(211, 73%, 93%);
  user-select: none;
}

.app_window__header>* {
  display: flex;
  gap: var(--size-xxs);
  align-items: center;
}

.app_window__header_head {
  padding: var(--size-xxs);
}

.app_window__header_head .icon {
  width: var(--size-l);
}

.app_window__header_title {
  font-weight: bold;
}

.app_window__header_actions {
  display: flex;
  gap: var(--size-xxs);
  margin-left: auto;
}

.app_window__header_actions button {
  height: var(--size-l);
  width: var(--size-l);
  border: 1px solid #888;
  border-radius: 2px;
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px #0005;
}

.app_window__header_actions button:active {
  box-shadow: none;
  transform: translateY(1px);
}

.app_window__header_menu {
  border-top: 1px solid #999;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
}

.app_window__header_menu>* {
  display: flex;
}

.app_window__header_menu button {
  padding: var(--size-xxs);
  outline: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  transition: all .1s;
}

.app_window__header_menu button:hover {
  background-color: var(--clr-gray-dark);
  color: white;
}

.app_window__header_menu button:active {
  background-color: var(--clr-orange)
}

.app_window__header_menu_secondary button {
  padding: 0;
  min-width: 32px;
}

.app_window__header_menu button .icon {
  height: 24px;
}

.app_window__header_menu_primary {
  display: flex;
}


/* Notepad */
.app_window[data-id="notepad"] .app_window__main {
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
  flex: 1;
}

.app_window[data-id="notepad"] .app_window__main textarea {
  position: absolute;
  inset: 0;
  max-height: 100%;
  background-color: #fff;
  padding: var(--size-xs);
}

/* Modal */
.modal {
  min-width: 300px;
  outline: 2px solid #555;
  border-radius: 2px;
  box-shadow: 1px 2px 3px hsl(211, 20%, 20%, .5);
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: var(--size-s);
  padding: var(--size-s);
}

.modal *:not(input) {
  user-select: none;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: var(--size-s);
}

.modal form input {
  background-color: #333;
  color: #fff;
  outline: 2px solid #333;
  outline-offset: 2px;
}

.modal form input::placeholder {
  color: #fffd;
}

.modal form > * {
  padding: var(--size-xxs);
}

.modal form button[type="submit"] {
  color: #000;
  align-self: flex-end;
  border: 2px solid #333;
  cursor: pointer;
  padding: var(--size-xxs) var(--size-s);
}