.app_window[data-appid="notepad"] .app_window__main {
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 100%;
    flex: 1;
}

.app_window[data-appid="notepad"] .app_window__main textarea {
    position: absolute;
    inset: 0;
    max-height: 100%;
    background-color: #fff;
    padding: var(--size-xs);
    height: 100%;
    font-family: var(--font-slab);
}

.app_window[data-appid="notepad"] .app_window__main textarea:focus-visible {
    outline: none;
}