.app_window[data-appid="walkman"] .app_window__main {
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 100%;
    flex: 1;
}

body {
    flex-direction: column;
}

main {
    width: 400px;
    min-width: 350px;
    max-width: 95vw;
    max-height: 90vh;
    margin:  2vh auto;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    user-select: none;
    display: flex;
    flex-direction: column;
    outline: 1px solid #0001;
    box-shadow: 1px 2px 10px #0003, 1px 1px 2px #0002;
}

.uiel_walkman_title {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: .5em;
}

.uiel_walkman_title,
.uiel_current_playlist_title {
    text-transform: uppercase;
    font-weight: bold;
}

.uiel_core {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #000;
    mix-blend-mode: multiply;
}

.uiel_cover_visual {
    border: 3px solid white;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    background-image: url(../../icons/apps/walkman/nocover.svg);
    background-size: cover;
}

.uiel_cover_visual::before {
    content: '';
    inset: 0;
    position: absolute;
    background-image: var(--coverImage);
    background-color: #222;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: blur(16px);
    opacity: .5;
    transform: scale(1.2);
}

.uiel_current_file {
    margin: .5em;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 1px #0005;
    max-width: 86%;
    height: 2em;
}

.uiel_current_file span {
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uiel_current_file span:last-of-type {
    font-size: .75em;
}

.uiel_progress {
    display: block;
    width: 86%;
    box-shadow: none;
    align-self: center;
    height: 16px;
    background-color: #fff5;
    position: relative;
    overflow: hidden;
    box-shadow: inset 1px 1px 3px #0005;
    border-radius: 2px;
}

.uiel_progress div {
    position: absolute;
    inset: 0;
    width: 0;
    background: linear-gradient(to left, #fff 4px, #0ae509 0, #0ae50966);
    box-shadow: inset 1px 1px 3px #0005;
    pointer-events: none;
}

.uiel_smallviz {
    width: 86%;
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: 1px 1px 1px #0005;
}

.uiel_smallviz p {
    height: 1.25em;
}

canvas {
    display: none;
    height: 140px;
    width: 400px;
}

.uiel_buttons {
    display: flex;
    align-items: center;
}

.uiel_buttons>button,
.uiel_buttons>input {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    background-color: #eee;
    border-radius: 100%;
    margin: 4px;
    box-shadow: 2px 2px 2px #0005;
    transition: all .3s;
}

.uiel_buttons>button:disabled,
.uiel_buttons>input:disabled {
    background-color: #fffb;
    cursor: progress;
}

#walkman_file_input {
    position: absolute;
    inset: 0;
    opacity: 0;
}

[data-command="add"] {
    background: url("../../../assets/icons/apps/walkman/command_add.svg");
    position: relative;
}

[data-command="add"]:focus-within:not(:focus-visible) {
    outline: 2px solid var(--clr-orange) !important;
    outline-offset: -2px;
}

[data-command="add"] input {
    all: unset;
    position: absolute;
    inset: -3px;
    opacity: 0;
}

[data-command="repeat"] {
    background: url("../../../assets/icons/apps/walkman/command_repeat.svg");
}

[data-command="shuffle"] {
    background: url("../../../assets/icons/apps/walkman/command_shuffle.svg");
}

[data-command="prev"] {
    background: url("../../../assets/icons/apps/walkman/command_prev.svg");
}

[data-command="play"] {
    background: url("../../../assets/icons/apps/walkman/command_play.svg");
    padding: .5em;
}

[data-command="halt"] {
    background: url("../../../assets/icons/apps/walkman/command_halt.svg");
    padding: .5em;
}

[data-command="next"] {
    background: url("../../../assets/icons/apps/walkman/command_next.svg");
}

/* Volume range */
.uiel_volume {
    margin: 1em;
    -webkit-appearance: none;
    box-shadow: none;
    width: 40%;
}

.uiel_volume:focus {
    outline: none;
}

.uiel_volume::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #0005;
    background: linear-gradient(to right, #fff, #777);
    border: 1px solid #222;
    border-radius: 6px;
}

.uiel_volume::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #0005;
    height: 17px;
    width: 16px;
    background-color: #fff9;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}



.uiel_volume:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #fff, #777);
}

.uiel_volume::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #0005;
    background: linear-gradient(to right, #fff, #777);
}

.uiel_volume::-moz-range-thumb {
    box-shadow: 1px 1px 2px #0005;
    height: 18px;
    width: 16px;
    background: repeating-linear-gradient(to right, #222, transparent);
    background-size: 4px;
    cursor: pointer;
}

.uiel_volume::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.uiel_volume::-ms-fill-lower {
    background: #3071A9;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #0005;
}

.uiel_volume::-ms-fill-upper {
    background: #3071A9;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #0005;
}

.uiel_volume::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 2px #0005;
    height: 18px;
    width: 16px;
    background: repeating-linear-gradient(to right, #222, transparent);
    background-size: 4px;
    cursor: pointer;
}

.uiel_volume:focus::-ms-fill-lower {
    background: #3071A9;
}

.uiel_volume:focus::-ms-fill-upper {
    background: #3071A9;
}

.uiel_volume::-webkit-slider-runnable-track,
.uiel_volume::-moz-range-track,
.uiel_volume::-webkit-slider-runnable-track {
    background: white !important;
}

.uiel_core button:active:not(:disabled),
.uiel_core input[type="checkbox"]:checked {
    background-color: #fff;
    outline: 4px solid #fff5;
    outline-offset: 2px;
    transform: scale(.8);
}


/* Secondary section */
.uiel_secondary {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.uiel_secondary::before {
    position: absolute;
    content: url(../../icons/apps/walkman/loader.svg);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.uiel_secondary.loading_playlist::before {
    visibility: visible;
    opacity: 1;
}

.uiel_current_playlist_title {
    background: linear-gradient(to bottom, #eee, #fff, #ddd);
    color: #333;
    text-align: center;
    padding: .5em;
    padding-top: .75em;
    border-bottom: 1px solid #ccc;
}

.uiel_current_playlist {
    min-height: 20vh;
    overflow-y: scroll;
    position: relative;
    background: linear-gradient(-85deg, #f1f5f9, #cbd5e1);
    list-style: none;
    flex: 1;
    padding-bottom: 2vw;
    position: relative;
}

.uiel_secondary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    background: linear-gradient(to top, #0002, transparent);
}

#empty_playlist {
    max-width: 80%;
    margin: 3em auto;
    text-align: center;
    font-style: italic;
    display: none;
}

#empty_playlist:first-child:last-child {
    display: block;
}

.uiel_current_playlist li {
    box-shadow: 1px 1px 2px #0005;
    border-radius: 2px;
    background-color: #fffd;
    margin: .2em 4px;
    border: 1px solid #0002;
    padding-left: .25em;
    display: flex;
    align-items: center;
    gap: .25em;
}

.uiel_current_playlist li::before {
    content: attr(data-order) ".";
    width: 1.5em;
    color: #555;
    flex-shrink: 0;
    margin: 2px 4px;
}

[data-skin="2"] .track_title_separator {
    display: none !important;
}

.uiel_current_playlist .track_artist {
    font-weight: bold;
}

.uiel_current_playlist .track_title {
    font-style: italic;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uiel_remove_playlist_item {
    width: 2em;
    height: 2em;
    background-color: #ddd;
    background-image: url(../../icons/apps/walkman/remove_track.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border-left: 1px solid #bbb;
    flex-shrink: 0;
    background-blend-mode: difference;
    transition: all .2s;
}

.uiel_remove_playlist_item:hover {
    background-color: hsl(348, 85%, 60%) !important;
    background-blend-mode: lighten;
}

.uiel_currentlyPlaying {
    background-color: #0009 !important;
    color: #fff;
    transition: all .5s;
}

.uiel_currentlyPlaying::before {
    color: #fffd !important;
}

.drop-zone--over {
    transition: all .2s;
    opacity: .3;
    color: #fff;
}